flows/Test_drive_updation_deletion.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>Check_null_values</name>
        <label>Check null values</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Update_existing_test_drive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>customerRequest</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_existing_test_drive_request</targetReference>
            </connector>
            <label>Outcome 1 of Decision 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>test_drive_exists</name>
        <label>test drive exists?</label>
        <locationX>512</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_existing_test_drive.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>updationRequest</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>schedule</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_null_values</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>cancel_booking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_existing_test_drive.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>updationRequest</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>cancel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>delete_booking</targetReference>
            </connector>
            <label>cancel booking</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Test drive updation/deletion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test drive updation/deletion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>delete_booking</name>
        <label>delete booking</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DriveNumber</elementReference>
            </value>
        </filters>
        <object>Test_Drive__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Fetch_existing_test_drive</name>
        <label>Fetch existing test drive</label>
        <locationX>512</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>test_drive_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DriveNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Test_Drive__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_existing_test_drive</name>
        <label>Update existing test drive</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DriveNumber</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Time_slot__c</field>
            <value>
                <elementReference>timeSlot</elementReference>
            </value>
        </inputAssignments>
        <object>Test_Drive__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_existing_test_drive_request</name>
        <label>Update existing test drive request</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DriveNumber</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Customer_s_request__c</field>
            <value>
                <elementReference>customerRequest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_slot__c</field>
            <value>
                <elementReference>timeSlot</elementReference>
            </value>
        </inputAssignments>
        <object>Test_Drive__c</object>
    </recordUpdates>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fetch_existing_test_drive</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>customerRequest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DriveNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Your request has been accepted you&apos;ll recieve a confirmation message shortly! Thanks!</stringValue>
        </value>
    </variables>
    <variables>
        <name>timeSlot</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updationRequest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
