flows/Test_drive_automation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <description>Set failure message when Test Drive is not booked.</description>
        <name>Set_output_failure_message</name>
        <label>Set output message</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>outputFromFlow</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sorry!! We could not book your test drive, please contact to human agent.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Set output variables when Test Drive is booked successfully.</description>
        <name>Set_output_variables</name>
        <label>Set output variables</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>outputFromFlow</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Woohooo !! Test Drive successfully booked see you at our store.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DriverName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TestDriveId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DriverPhoneNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TestDriveId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Check if Contact record with given email or phone number exists or not.</description>
        <name>Check_Contact_Exists</name>
        <label>Check Contact Exists</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Contact Not Exists</defaultConnectorLabel>
        <rules>
            <name>Contact_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Query_Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Test_Drive_Record</targetReference>
            </connector>
            <label>Contact Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Test_Drive_Id</name>
        <label>Check Test Drive Id</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Set_output_failure_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Test Drive Id Is Null</defaultConnectorLabel>
        <rules>
            <name>Test_Drive_Id_Is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TestDriveId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_output_variables</targetReference>
            </connector>
            <label>Test Drive Id Is Not Null</label>
        </rules>
    </decisions>
    <description>Flow to crete Test Drive record.</description>
    <environments>Default</environments>
    <interviewLabel>Test drive automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test drive automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create Test Drive record only if Contact found (Valid Customer into System).</description>
        <name>Create_Test_Drive_Record</name>
        <label>Create Test Drive Record</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignRecordIdToReference>TestDriveId</assignRecordIdToReference>
        <connector>
            <targetReference>Check_Test_Drive_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>Assigned_Guest_For_Ride__c</field>
            <value>
                <elementReference>Query_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assigned_Ride_Driver__c</field>
            <value>
                <stringValue>003F900001pLbUhIAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_s_request__c</field>
            <value>
                <elementReference>customerMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_slot__c</field>
            <value>
                <elementReference>BookingAppointmentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle_Assigned__c</field>
            <value>
                <elementReference>vehicleSpecification</elementReference>
            </value>
        </inputAssignments>
        <object>Test_Drive__c</object>
    </recordCreates>
    <recordLookups>
        <description>Query Contact record based on either email or Phone.</description>
        <name>Query_Contact</name>
        <label>Query Contact</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Contact_Exists</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>customerEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CustomerPhone</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Query_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>This is Test drive booking appoint Date and time provided by customer.</description>
        <name>BookingAppointmentDateTime</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>customerEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>customerMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>10 Digits Mobile number provided by Customer.</description>
        <name>CustomerPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is the Driver Name of booked Test Drive.</description>
        <name>DriverName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is the driver phone number booked for test drive.</description>
        <name>DriverPhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputFromFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This is the test drive record Id.</description>
        <name>TestDriveId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Vehicle Specification provide by Customer. For example Vehicle Model Name, Petrol or Diesel variant and Model Year etc.</description>
        <name>vehicleSpecification</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
